.floatleft {
    margin-right: 5px;
    float: left;
}
.floatright {
    margin-left: 5px;
    float: right;
}
.center {
    text-align: center;
}
.outsetborder {
		border: 10px outset #452DE1;
}
.insetborder {
	border: 10px inset #452DE1;
}
.yellowrow {
	background-color: yellow;
}
.orangerow {
	background-color: orange;
}
.greenrow {
	background-color: green;
}
.purplerow {
	background-color: purple;
}
.bluerow {
	background-color: blue;
}

#wrapper {
    background-color: #16009E;
    margin: auto;
    min-width: 960px;
    max-width: 1024px;
}

#wrapper h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

#wrapper p {
	font-family: 'Ubuntu', sans-serif;
	padding: 0px 5px;
}

#banner {
    height: 120px;
		padding: 5px;
    background-image: url(images/logo.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: #000000;
    text-align: center;
    color: #FFF8E3;
}

#space {
		width: auto;
		display: flex;
}
nav {
		flex-grow: 1;
		float: left;
		padding: 10px 10px 0px 10px;
		height: inherit;
		text-align: center;
		background-color: #DDE200;

}
nav table {
	border: 3px solid black;
}
#maincol {
	flex-grow: 5;
	padding: 8px;
	background-color: #A2A700;
}
#maincol table {
	width: 70%;
}
#maincol table, td {
	text-align: center;
	border: solid black;
}
